services:
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: always

    ports:
      - "8000:8000"
      - "9443:9443"

    volumes:
      - ${VOL_DATA}
      - /var/run/docker.sock:/var/run/docker.sock

    networks:
      network-share:
        ipv4_address: ${IPV4_ADDRESS}

networks:
  network-share:
    external: true
